ul{
    font-size: 20px;
    list-style-type: decimal;
}
button:disabled{
    color:black;
    background-color: inherit;
    border: none;
    font-size: 20px;
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 100px 250px;
}
.result{
    font-size: 40px;
}
.numbContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.currentNumb{
    display: flex;
    height: 200px;
    width: 250px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    font-size: 106px;
}
.currentNumbBtn{
    font-size: 14px;
    margin-top:15px;
}
.currentNumbBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 950px) {
    .container{
        flex-direction: column-reverse;
        padding:15px 10px;
        align-items: center;
        margin: 0;
}
   .result{
       margin-top: 15px;
       font-size: 20px;
   }
   .list{
       margin-top: 15px;
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   ul{
       display: flex;
       flex-flow: column wrap;
       height: 350px;
   }
   ul li{
       width: 100px;
   }
}